#navbar {
    background-color: gray;
    height: 50px;

    /*Propiedades flex*/
    display: flex;
    align-items: center;
}



#navbar a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    height: 100%;
    font-size: 30px;
    padding: 0px 3px;
    margin: 0px 20px;
    background-color: lightblue;

    /*Propiedades Flex*/
    /*flex-shrink: 1;*/
    flex-grow: 1;
}


#cerrarsesion {
    flex-grow: 3 !important;
}


/*V2*/


/*Mobile*/
nav {
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #333;
    height: 8vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 3px;
}

nav li a:hover {
    background: tomato;
    color: white;
}

#cerrarsesion {
    background-color: red;
}

#cerrarsesion:hover {
    background-color: tomato;
    transition: background-color 0.5s ease-in-out;
}
